<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArsMagna.Core" version="1.7.3.1922" targetFramework="net35" />
  <package id="ArsMagna.Drawing" version="1.7.3.1922" targetFramework="net35" />
  <package id="ArsMagna.Irbis.UI" version="1.7.3.1922" targetFramework="net35" />
  <package id="ArsMagna.Windows.Forms" version="1.7.3.1922" targetFramework="net35" />
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net35" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net35" />
  <package id="ManagedIrbis" version="1.7.3.1922" targetFramework="net35" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net35" />
</packages>